<section id="about" class="container col-11 col-lg-10 my-5 mx-auto">
  <p class="fs-5 text-center text-muted">Get to know more</p>
  <h1 class="fw-bold text-center mb-4">About Me</h1>
  <div class="row mt-4">
    <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
      <img class="about-pic img-fluid rounded-5 shadow-lg" src="./assets/about.jpeg" alt="Aravind's image">
    </div>
    <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-center">
      <div class="row w-100">
        <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-0 shadow-sm transition-card">
            <div class="card-body text-center">
              <i class="fa fa-award fa-2x icon mb-2 text-primary"></i>
              <h3 class="fw-bold about-subtitle">Experience</h3>
              <p class="card-text">
                Over {{ getExperienceYears() }} years of experience
                <br>in Software Development, including
                <br>Backend and Full Stack roles.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-0 shadow-sm transition-card">
            <div class="card-body text-center">
              <i class="fa fa-laptop-code fa-2x icon mb-2 text-primary"></i>
              <h3 class="fw-bold about-subtitle">Specialized In</h3>
              <p class="card-text">
                Backend Development<br>Spring Boot & Java<br>Angular for Frontend<br>Radar Image Processing
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 text-center mt-3">
        <p class="fs-6">
          I'm Aravind, a passionate Software Developer with expertise in backend development using C, Java, Spring Boot, and frontend development with Angular. I am currently pursuing a Master's degree in Computer Science at Cleveland State University, where I also serve as a Research Assistant working on Automatic Target Recognition in radar imagery. My experience spans roles at Renault Nissan Technology & Business Centre, focusing on full-stack development and microservices architecture. I am enthusiastic about creating scalable, high-performance solutions and exploring new challenges in both software engineering and data analysis.
        </p>
      </div>
    </div>
  </div>
</section>